.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  height: 300px;
  width: 600px;
  align-self: center;
  vertical-align: middle;
}

.Notice {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
